/*.bodypanel {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #decae929;
}*/
.bodypanel {
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}
.bodypanel h3 {
  font-weight: 400;
  text-transform: none;
  margin-bottom: 2rem;
}
.clearBlist {
  color: rgb(33, 30, 30);
  display: block;
  width: 100%;
  border-color: transparent;
  background: #decae929;
  margin: 2rem auto 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  outline: 1px solid #decae929;
  cursor: pointer;
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.75rem;
  -webkit-column-gap: 0.75rem;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person h4 {
  margin-bottom: 0.35rem;
}
.person p {
  margin-bottom: 0;
}
